<launch>

    <include file="$(find bioloidgp_social_robot)/launch/gazebo.launch"/>
 
    <node name="gazebo_communication" pkg="bioloid_gp_master" type="communitation_gazebo.py" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bioloidgp_social_robot)/config/configuration.rviz" required="true" />

    <node name="motion_goal" pkg="bioloid_gp_master" type="movement.py" output="screen"/>

</launch>