<launch>
  <arg name="usb_port"                default="/dev/ttyUSB0"/>
  <arg name="dxl_baud_rate"           default="1000000"/>
  <arg name="namespace"               default="dynamixel_control_motors"/>

  <param name="dynamixel_info"          value="$(find u2d2_controller)/config/joint_config.yaml"/>

  <node name="$(arg namespace)" pkg="u2d2_controler" type="read_write"/>

</launch>
