<launch>
  <arg name="namespace"               default="dynamixel_workbench"/>
  <arg name="is_loop"               default="true"/>

  <param name="$(arg namespace)/trajectory_info" value="$(find u2d2_controller)/config/motion.yaml"/>

  <node name="joint_operator" pkg="dynamixel_workbench_operators" type="joint_operator"
        required="true" output="screen" ns="$(arg namespace)">
    <param name="is_loop" value="$(arg is_loop)"/>
  </node>
</launch>
