<launch>
  <arg name="usb_port"                default="/dev/ttyUSB0"/>
  <arg name="dxl_baud_rate"           default="1000000"/>

  <node name="bioloid_gp_communication" pkg="bioloid_gp_communication" type="u2d2_communication.py" output="screen">
    <param name="usb_port" value="$(arg usb_port)" />
    <param name="dxl_baud_rate" value="$(arg dxl_baud_rate)" />
  </node>

</launch>
